.card {
  background-color: #fff;
  border-radius: 1rem;
  margin: 0 2rem;
  list-style-type: none;
  padding: 2rem;
}

.text {
  font-size: 2.4rem;
  color: #333;
  margin-bottom: 2rem;
}

.author {
  font-family: "Source Code Pro", monospace;
  font-size: 1.6rem;
  font-weight: 600;
}
